{
    "swagger": "2.0",
    "info": {
        "title": "Space holder for paramter descriptions",
        "description": "A definition is one of the following: GSA Business Applications, Systems, FISMA Systems, IT Standards, or capabilities",
        "version": "0.0.0"
    },
    "host": "dev3.ea.gsa.gov",
    "schemes": [
        "https"
    ],
    "basePath": "/api/v0",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{def}/{id}": {
            "get": {
                "summary": "Details for Definitions",
                "description": "This endpoint returns the complete list of a given definition.\n",
                "parameters": [
                    {
                        "name": "def",
                        "in": "path",
                        "description": "The complete list of a given definition. One of the following values: organizations, applications, parentsystems, FISMA, itstandards, or capabilities.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The database key that identifies the given definition. Example: '0' for all the records of the given definition sepecified above, '1' for the first record of the definition specified above",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of definitions",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/{def}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/applications/{id}/{def}": {
            "get": {
                "summary": "Definitions related to given Business Application List",
                "description": "This endpoint returns the IT standards and IT standards metadata associated to the indicated Business Application {id}.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '5576'",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "def",
                        "in": "path",
                        "description": "The IT standards, or capabilities related to the given application. Example, capabilities, technologies",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of related IT standards or capabilities of a given Business Application",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/{def}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        
		"/{def}/{id}/applications": {
            "get": {
                "summary": "Business Application List related to a given definition",
                "description": "This endpoint returns the list of GSA Business Applications related to given definition.\n",
                "parameters": [
                    
                    {
                        "name": "def",
                        "in": "path",
                        "description": "The definitions. One of the following values: organizations, applications, parentsystems, FISMA, itstandards, or capabilities.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The database key that identifies the definition. Example: '12087' for System 'Bulkload'; '16999' for capability 'Vendor Relationship Management'; '20872' for investment 'Analytic Service Platform'. ",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }                    
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of Business Applications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/applications"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
	},
    "definitions": {
        "applications": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the Business Application."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the Business Application."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of Business Application."
                },
				"Alias": {
                    "type": "string",
                    "description": "Other names by which this application is known."
                },
                "SSO": {
                    "type": "string",
                    "description": "Verbose name of the SSO that manages the application. USUALLY the parent SSO to Owner, but not always."
                },
                "SSOShort": {
                    "type": "string",
                    "description": "Short name of the SSO that manages the application. USUALLY the parent SSO to Owner, but not always."
                },
                "Owner": {
                    "type": "string",
                    "description": "Verbose name of the 2-letter office(s) that manages (co-manage) this application."
                },
                "OwnerShort": {
                    "type": "string",
                    "description": "Short name of the 2-letter office(s) that manages (co-manage) this application."
                },
                "ParentSystem": {
                    "type": "string",
                    "description": "The Parent System name that includes this application. If not part of a System, then the value will be NULL."
                },
                "BusPOC": {
                    "type": "string",
                    "description": "List of business POCs, separated by commas"
                },
                "TechPOC": {
                    "type": "string",
                    "description": "List of technical POCs, separated by commas"
                },
                "Cloud": {
                    "type": "string",
                    "description": " Is this Business Appliation hosted in the Cloud (as opposed to in a GSA Data Center)? Yes or No only."
                },
                "TechnologyPlatform": {
                    "type": "string",
                    "description": "Technology platform for the application. One of the following values: .Net, Appian, ArcGIS, Business Objects, ColdFusion, Django, Documentum, Drupal, Foxpro, Google App Engine (GAE), J2EE, Microsoft Office, Oracle, PowerBuilder, Provided as Package, Red Hat, Ruby on Rails, Salesforce, Unisys Mainframe, WordPress, Other."
                },
                "Status": {
                    "type": "string",
                    "description": "Status of the application. One of the following values: Pre-Production, Production, or Retired."
                },
                "RegionClassification": {
                    "type": "string",
                    "description": "PBS-centric classification. Values will be National or Regional"
                },
                "HostingProvider": {
                    "type": "string",
                    "description": "Service Provider for the application. One of the following values: Amazon, Appian, BSP, CGI, CTAC, ESRI, GSA, Google, HP Enterprise Services, IBM, Marathon Digital Services, Monster Govt Services, Noblis, OPM, Salesforce, SAP, ServiceNow, USDA Phase 1, USDA Phase 2, and Vanderweil (VFA)."
                },
                "FismaSystem": {
                    "type": "string",
                    "description": "The FISMA System that provides an ATO for this application"
                },
                "Investment": {
                    "type": "string",
                    "description": "The eCPIC Investment that provides funding for this application."
                },
                "IsRevenueGenerator": {
                    "type": "string",
                    "description": "Does this Business Application generate revenue? Values limited to Yes, No and TBD"
                },
                "RetiredYear": {
                    "type": "string",
                    "description": "Year the application was retired. Will be NULL if “Status” is not Retired"
                },
                "Capabilities": {
                    "type": "string",
                    "description": "A comma separated list of the FEAF BRM capabilities that are supported by this application."
                },
                "Technologies": {
                    "type": "string",
                    "description": "A comma separated list of IT Standards that compose this application"
                },
                 "Link": {
                    "type": "string",
                    "description": "The URL that points to the applications web interface. If there are more than one, they will be separated by commas."
                },
                 "OMBUID": {
                    "type": "string",
                    "description": "The URL that points to the applications web interface. If there are more than one, they will be separated by commas."
                },
                 "ProdYear": {
                    "type": "string",
                    "description": "Year the application was in Production. "
                },	
                 "old_Id": {
                    "type": "string",
                    "description": "Global ID in System Architect."
                }       
            }
        },
      
        "pocs": {
            "type": "object",
            "properties": {
                "ParentId": {
                    "type": "integer",
                    "description": "The database key that identifies the definition to which this POC is related."
                },
                "Name": {
                    "type": "string",
                    "description": " Name of the Point of Contact."
                },
                "Phone": {
                    "type": "string",
                    "description": "Point of Contact's phone number."
                },
                "Email": {
                    "type": "string",
                    "description": "Point of Contact's email address."
                },
                "Region": {
                    "type": "string",
                    "description": "If the Point of Contact is a RISSO Contact, the field will show the region."
                },
                "Type": {
                    "type": "string",
                    "description": "Type of Point of Contact."
                },
                "Organization": {
                    "type": "string",
                    "description": "Point of Contact's organization."
                }				
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "required_fields": {
                    "type": "string"
                },
                "example": {
                    "type": "string"
                }
            }
        }
    }
}


